---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Publicacion from "../components/publicacion.astro";
import Reviews from "../components/reviews.astro";
---

<Layout title="Develoxpert">
  <main class="overflow-y-auto overflow-x-hidden scroll-smooth px-4">
    <SectionContainer class="py-8 md:py-0">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>
    <SectionContainer class="py-8 md:py-0">
      <Publicacion>
        <slot />
      </Publicacion>
    </SectionContainer>
    <SectionContainer class="py-8 md:py-0">
      <Reviews>
        <slot />
      </Reviews>
    </SectionContainer>
  </main>
</Layout>
