<div
  class="flex flex-row w-full py-8 justify-center bg-white dark:bg-black gap-8 md:gap-52 h-32 items-center md:flex-col-2
         bg-gradient-to-r from-white/80 dark:from-black/80 to-white/0 dark:to-black/0"
>
  <div>
    <h2 class="text-sm md:text-2xl font-semibold text-black dark:text-white">
      !Potencia tu Negocio con<br /> Tecnología de Vanguardia!
    </h2>
  </div>
  <div>
    <button
      class="rounded-full text-white font-bold md:text-2xl text-sm hover:scale-110 px-2 py-2 bg-green-600 w-32 h-8 sm:w-40 sm:h-12"
    >
      CONTÁCTANOS
    </button>
  </div>
</div>
