---
import Logo from "./Logo.astro";
import Toggle from "./Toggle.astro";
---

<header
  id="landing-header"
  class="py-1 px-10 flex items-center fixed top-0 left-0 w-full justify-between z-40 text-black dark:text-white"
>
  <div class="flex flex-grow basis-0">
    <!-- <a href="./"><Logo /></a> -->
    <img width="150" src="/public/img/logo-w.png" alt="Logo Develoxpert" />
  </div>

  <nav class="hidden xl:block sm:hidden">
    <ul
      class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 gap-5"
    >
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Servicio</a></li>
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <nav class="flex flex-grow justify-end basis-0">
    <ul
      class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <Toggle />
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navitems = document.querySelectorAll("header nav a")

    const callback = (entries: any []) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navitems.forEach((item)=> {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-green-500")
            } else {
              item.classList.remove("text-green-500")
            }
          })
        }
      })
    }
    
    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })
    
    sections.forEach((section) => {
      observer.observe(section)
    })

    //cleaned function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {        
        observer.disconnect()
      }
    }
  })
</script>


<style>
  header{
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-800/10 ring-white/10;
    }
  }
</style>