---
import Toggle from "./Toggle.astro";

const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#inicio",
  },
  {
    title: "Servicios",
    label: "servicios",
    url: "/#servicios",
  },
  {
    title: "Acerca de",
    label: "acerca-de",
    url: "/#acerca-de",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/contacto",
  },
];
---

<header
  id="landing-header"
  class="container-xl flex fixed top-1 z-10 mx-auto items-center  w-full mt-2 justify-center"
>
<div id="header__container" class="container flex items-center justify-normal rounded-full w-full ">
  <div class="flex-grow px-0">
    <!-- <a href="./"><Logo /></a> -->
    <img
      width="170"
      class="pl-10 block dark:hidden"
      src="/img/logo-w.webp"
      alt="Logo Develoxpert"
    />
    <img
      width="170"
      class="pl-10 hidden dark:block"
      src="/img/logo-d.webp"
      alt="Logo Develoxpert"
    />
  </div>

  <nav
    id="mobile-menu"
    class="hidden md:flex md:flex-grow px-0 gap-10 text-lg font-semibold top-20 bottom-0 md:static  dark:text-white text-[#0e0f6d]"
  >
    {
      navItems.map((link) => (
        <a
          class="relative px-0 py-2 transition hover:border-black hover:text-[#00ff00] dark:hover:text-[#09f]"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>

  <div class="flex items-center gap-4">
    <button
      class="md:hidden text-gray-500 dark:text-gray-400 focus:outline-none"
      aria-label="Toggle menu"
      onclick="document.getElementById('mobile-menu').classList.toggle('hidden')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        width="1em"
        height="1em"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M4 6h16M4 12h16M4 18h16"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>

    <div
      class="flex text-sm transition-colors duration-500 text-gray-500 dark:text-gray-400 font-medium md:px-2 px-0 py-3"
    >
      <Toggle />
    </div>
  </div>

</div>

</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navitems = document.querySelectorAll("header nav a");

    const callback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navitems.forEach((item) => {
            if (item.getAttribute("aria-label") === entry.target.id) {
              item.classList.add("text-green-500");
            } else {
              item.classList.remove("text-green-500");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      }
    };
  });

  function toggleMobileMenu() {
    const mobileMenu = document.getElementById("mobile-menu");
    mobileMenu.classList.toggle("hidden");
  }
</script>

<style>
  #header__container{
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-600/10 ring-white/10;
    }
  }

  @media (max-width: 576px) {
  #mobile-menu {
    position: relative;
    background-color: rgba(128, 128, 128, 0.397);
    z-index: -1;
    padding: 10px;
    border-radius: 15px;
  }

  #mobile-menu nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }


}





  nav > a {
    text-align: center;
  }
</style>
