---
import ButtonHero from "./ButtonHero.astro";
---

<section>
  <div
    class="flex justify-center max-w-screen-2xl mt-20 md:px-10 gap-10 py-8 md:py-16"
  >
    <div class="px-6 md:px-0">
      <!-- Cambio aquí -->
      <h1
        class="text-4xl w-64 sm:w-[450px] font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white text-black"
      >
        DESARROLLO DE SOFTWARE
      </h1>
      <p
        class="max-w-2xl mt-2 mb-6 font-medium md:mb-8 md:text-md md:text-xl dark:text-white text-black"
      >
        Impulsando negocios con soluciones digitales
      </p>
      <div class="flex">
        <ButtonHero />
      </div>
    </div>
    <!-- colocar la imagen -->
    <picture class="hidden w-44 h-auto md:mt-0 md:flex">
      <img loading="lazy" src="/portada1.webp" alt="portada mujer con laptop" />
    </picture>
  </div>
</section>