<div class="relative mb-8 text-black flex overflow-x-hidden">
    <div class="py-12 animate-marquee whitespace-nowrap">
      <span class="flex w-20 h-auto gap-16 md:gap-40 text-4xl mx-4">
        <img src="/public/items/mobile.png" alt="" />
        <img src="/public/items/web-desktop.png" alt="" />
        <img src="/public/items/API.png" alt="" />
        <img src="/public/items/diseño.png" alt="" />
        <img src="/public/items/bd.png" alt="" />
        <img src="/public/items/mobile.png" alt="" />
        <img src="/public/items/web-desktop.png" alt="" />
        <img src="/public/items/API.png" alt="" />
        <img src="/public/items/diseño.png" alt="" />
        <img src="/public/items/bd.png" alt="" /> 
      </span>
    </div>
  </div>
  

<style>
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation-name: marquee;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
</style>
